@import "nativescript-theme-core/css/core.light.css";

.botton_border {
    border-bottom-color: #aaa;
    border-bottom-width: 1;
}

.btn-form {
    font-size: 12px;
    height: 60px;
    text-align: center;
    vertical-align: center;
}